@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(62, 85, 118);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 116, 164);
}
